#{extends 'main.html' /}
<!-- 菜单点击状态设置 -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>一般管理员管理</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
			<li class="active">一般管理员管理</li>
		</ol>
	</section>

	<!-- Main content -->
	<div class="panel-body" style="padding-bottom: 0px;">
		<div id="toolbar" class="btn-group">
               <button id="btn_add" type="button" class="btn btn-info btn-sm rightSize" data-toggle="modal" data-target="#addModal">
                   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
               </button>
           </div>
		<!-- <div class="panel panel-default">
			<div class="panel-heading">查询条件</div>
			<div class="panel-body">
				<form id="formSearch" class="form-horizontal">
					<div class="form-group" style="margin-top: 15px">
					
						<label class="control-label col-sm-1" for="txt_search_uid">用户id</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="txt_search_uid">
						</div>
						
				</div>
				<div class="form-group" style="margin-top: 15px">
					    
						<div class="col-sm-4" style="text-align: left;">
							<button type="button" style="margin-left: 50px" id="btn_query"
								class="btn btn-primary">查询</button>
						</div> 
					</div>
				</form>
			</div>
		</div> -->
		<table id="t_table" data-content-type="application/x-www-form-urlencoded"></table>
	</div>
</div>
<!-- 模态框（Modal） -->
 <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">增加角色</h4>
            </div>
            <div class="modal-body" >
            	<form action="/b/adminmgr/addRoleAdmin"  id="form-id">
            	#{authenticityToken /}
		            <div class="form-group">
				        <label  for="addRolename">角色名</label>
				        <input type="text" class="form-control " name="role.rolename" id="addRolename" placeholder="请输入角色名">
		            </div>
		        </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="confirmAddOk">确定增加</button>
            </div>
        </div>
    </div>
</div> 
<input type="hidden"  id="returnMsg" value="${msg}" >

	<!-- /.content-wrapper -->
	#{set 'moreScripts'}
	<script type="text/javascript">
		$(function() {
			
			// 给id为xx的元素更改class
			$("#treeview_3").addClass('active');
			$("#menu_3").addClass('menu-open');
			$("#menu_3").attr("style","display: block;");
			$("#roleAdminMgr").addClass('active');

			//1.初始化Table
			var oTable = new TableInit();
			oTable.Init();

			//2.初始化Button的点击事件
			var oButtonInit = new ButtonInit();
			oButtonInit.Init();

			var msg = $("#returnMsg").val();
			if(msg.trim() != null && msg.trim() != ""){
				alert(msg);
			}
			
		});

		var TableInit = function() {
			var oTableInit = new Object();
			//初始化Table
			oTableInit.Init = function() {
				$('#t_table').bootstrapTable({
					url : '/b/adminmgr/roleAdminData', //请求后台的URL（*）
					method : 'post', //请求方式（*）
					toolbar : '#toolbar', //工具按钮用哪个容器
					striped : true, //是否显示行间隔色
					cache : false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
					pagination : true, //是否显示分页（*）
					sortable : false, //是否启用排序
					sortOrder : "asc", //排序方式
					queryParams : oTableInit.queryParams,//传递参数（*）
					sidePagination : "server", //分页方式：client客户端分页，server服务端分页（*）
					pageNumber : 1, //初始化加载第一页，默认第一页
					pageSize : 10, //每页的记录行数（*）
					pageList : [ 10, 20, 30, 50 ], //可供选择的每页的行数（*）
					search : false, //是否显示表格搜索,只是客户端搜索
					strictSearch : true,
					showColumns : true, //是否显示所有的列
					showRefresh : true, //是否显示刷新按钮
					minimumCountColumns : 1, //最少允许的列数
					clickToSelect : true, //是否启用点击选中行
					height : 600, //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
					uniqueId : "ID", //每一行的唯一标识，一般为主键列
					showToggle : true, //是否显示详细视图和列表视图的切换按钮
					cardView : false, //是否显示详细视图
					detailView : false, //是否显示父子表
					columns : [{
						field : 'rolename',
						align: 'center',
						title : '角色名'
					}, {
						title : '操作',
						align: 'center',
						formatter : function(value, row, index) {
								return '<a href="javascript:void(0);" onclick="confirm(\'是否确定此操作?\',\'/b/adminmgr/delRoleAdmin?roleid='+row.id+'\')">删除</a> |'
								+'<a href="/b/adminmgr/permission?roleId='+row.id+'">修改权限</a>';
						}
					} ]
				});
			};

			//得到查询的参数
			oTableInit.queryParams = function(params) {
				var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
					limit : params.limit, //页面大小
					offset : params.offset, //页码
					userid : $("#txt_search_uid").val()
				};
				return temp;
			};
			return oTableInit;
		};

		var ButtonInit = function() {
			var oInit = new Object();
			var postdata = {};

			oInit.Init = function() {
				//初始化页面上面的按钮事件
				$("#btn_query").click(function() {
					$('#t_table').bootstrapTable(('refresh')); // 很重要的一步，刷新url！
				});
			};

			return oInit;
		};
		
		// 新增
		$("#confirmAddOk").on("click", function() {
			var addRolename = $("#addRolename").val();
			if(addRolename == null || "" == addRolename){
				alert("请完善信息");
				return;
			}
	        $("#addModal").modal("hide");
	       	// 用户点击确定
	        $("#form-id").submit();
	    });
	</script>
	#{/set}