<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="keywords"   content="春聊,春聊app,春聊下载,春聊官方,附近,约爱,视频,语音,同城,交友,附近约爱,视频约爱,同城约爱,附近交友,视频交友,同城交友,语音交友,约会,附近约会,同城约会,约会神器,约爱神器,交友神器,陌陌,点聊,爽聊,富聊,快手,抖音,最右" />
    <meta name="description"   content="春聊官方网站，一对一私密视频聊天。100%真实认证美女，随时与高颜值美女畅谈人生，畅谈理想，聊你所聊，爱你所爱。" />
		<title>春聊|一对一视频交友</title>
		<style type="text/css">
			* {
				    margin: 0;
				    padding: 0;
				}
		</style>
		<script type="text/javascript">
				//平台、设备和操作系统
				var system ={
				win : false,
				mac : false,
				xll : false
				};
				//检测平台
				var p = navigator.platform;
				system.win = p.indexOf("Win") == 0;
				system.mac = p.indexOf("Mac") == 0;
				system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
				//跳转语句
				if(system.win||system.mac||system.xll){
					 //location.href = "http://www.33se.cn/index";
				}else{
					location.href = "http://www.33se.cn";
				}
		</script>
		<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
		<link rel="shortcut icon" type="image/png" href="../../../../public/images/favicon.png">
	</head>

	<body  id="bodyId"   > 
		<div style="width: 100%;position: relative;"  >
				<img src="http://cdn.lianmaiba.com/pcFolder/pc_background.jpg" style="width:100%;" onclick="return false" />
				<img id="androidDown" src="http://cdn.lianmaiba.com/pcFolder/android_download.png" style="cursor:pointer;width:14%; position: absolute;top:65%;left: 36.5%" />
				<img id="iosDown" src="http://cdn.lianmaiba.com/pcFolder/ios_download.png" style="cursor:pointer;width:14%; position: absolute;top:76.5%;left: 36.5%" />
				<img id="orCode" src="http://cdn.lianmaiba.com/pcFolder/orcode_download.png" style="width:10.8%; position: absolute;top:65%;left: 54.2%" />
		</div>
	
		<script>
			var b = true;
			$("#androidDown").click(function(){
				var ua = window.navigator.userAgent.toLowerCase(); 
				if(ua.match(/MicroMessenger/i) == 'micromessenger'){ 
					if(b){
						$("#bodyId").prepend('<img src="http://cdn.lianmaiba.com/mobileFolder/mobile_tip.png" width="100%"/>');
						b = false;
					}
				}else{ 
					window.open("http://cdn.lianmaiba.com/chunliao.apk"); 
				} 
			});
			$("#iosDown").click(function(){
				var ua = window.navigator.userAgent.toLowerCase(); 
				if(ua.match(/MicroMessenger/i) == 'micromessenger'){ 
					if(b){
						$("#bodyId").prepend('<img src="http://cdn.lianmaiba.com/mobileFolder/mobile_tip.png" width="100%"/>');
						b = false;
					}
				}else{ 
					window.open("https://itunes.apple.com/cn/app/%E6%98%A5%E8%81%8A/id1286281953?mt=8"); 
				} 
			});
			
		</script>
	
		<script>
			var _mtac = {};
			(function() {
			    var mta = document.createElement("script");
			    mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.2";
			    mta.setAttribute("name", "MTAH5");
			    mta.setAttribute("sid", "500545113");
			    var s = document.getElementsByTagName("script")[0];
			    s.parentNode.insertBefore(mta, s);
			})();
		</script>
	</body>
</html>