<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>contact</title>
          <link rel="stylesheet" href="@{'/public/stylesheets/contact.css'}" />
        <link rel="stylesheet" href="@{'/public/stylesheets/headTemplet.css'}" />
        <link rel="stylesheet" href="@{'/public/stylesheets/footerTemplet.css'}" /> 
	</head>
	<body> 
        <div class="bodychild" style="box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);">
            <header>
                        <div id="fristBox">
                            <div id="headBox">
                                <p id="name">社区资源共享</p>
                                <div id="topright">      
                                    <div class="language">
                                        您还没有登录
                                        <a class="" href="login.html">
                                            <strong>登录</strong>
                                        </a>
                                        or
                                        <a class="" href="register.html">
                                            <strong>创建新账号</strong>
                                        </a>
                                    </div>
                                    <!-- <div class="dropdown">
                                        <a href="#" class="dropbtn"><strong>用户名</strong></a>
                                        <div class="dropdown-content">
                                            <a href="#">个人中心</a>
                                            <a href="#">我的订单</a>
                                            <a href="#">我的收藏</a>
                                            <a href="#">退出</a>
                                        </div>
                                    </div> -->
                                    <div class="currency">退出</div>    
                                </div>
                            </div>
                        </div>
                        <div id="secondBox">
                            <div id="logo-wrapper">
                                <div class="row">
                                    <div id="logo" class="six-columns">
                                        <a href="/"><img src="@{'/public/images/logo.png'}" alt="logo image"></a>
                                        <span class="desc">| 社区资源共享</span>
                                    </div>
                                    <div class="right-six-columns">
                                        <form id="searchform" action="#" method="get">
                                            <input id="s" class="field" placeholder="根据资源名称搜索" name="s" type="text">
                                            <a >
                                                <input class="searchbutton" value="" type="submit" >
                                            </a>
                                        </form>
                                        <div id="shopping-cart-wrapper">
                                        <div id="shopping_cart">
                                            收藏：
                                            <a class="" href="">
                                                <img src="@{'/public/images/love.png'}" style="width: 20px;height: 20px;">
                                            </a>
                                            订单：
                                            <a class="" href="">
                                                <img src="@{'/public/images/order.png'}" style="width: 20px;height: 20px;">
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section id="navigation">
                            <div id="container">
                                <div class="row">
                                    <nav id="nav-wrap" class="twelve-columns">
                                        <ul id="sf-nav" class="sf-menu">
                                                        <li>
                                                <a class="router-link-active" href="../index.html">首页</a>
                                            </li>
                                            <li>
                                                <a class="" href="/w/ProductGridMgr/product">共享资源</a>
                                            </li>
                                            <li>
                                                <a class="" href="/w/BlogMgr/blog">社区通告</a>
                                            </li>
                                            <li>
                                                <a class="" href="/w/AboutMgr/about">关于我们</a>
                                            </li>
                                            <li>
                                                <a class="" href="/w/ContactMgr/contact">联系我们</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </section>
                        <div class="headline">
                            <div class="row">
                                <div class="twelve-columns">
                                    <h1>分享是一种美德</h1>
                            </div>
                        </div>
            </header>
        <div id="outermainc">
            <div class="containerc">
                <div class="row8">
                    <section id="maincontent" class="positionleft">
                        <div class="padcontentc">
                            <section class="contentc">
                                <div class="breadcrumbc">
                                    <a href="/w/IndexMgr/index">Home</a>/联系我们

                                </div>
                                <h1 class="pagetitlec">联系我们</h1>
                                <div class="frame">
                                    <img src="@{'/public/images/s302.jpg'}" >
                                </div>
                                <br>
                                <h3>联系我们</h3>
                                <div id="contactform">
                                    <from id="contact" action="">
                                        <fieldset>
                                            <div class="left">
                                                <label>您的称呼:</label>
                                                <input id="namec" class="text-input,inputstyle" name="name" size="50" style="border: 1px solid black;" type="text">
                                                <label>您的email:</label>
                                                <input id="email" class="text-input,inputstyle" name="email" size="50" style="border: 1px solid black;" type="text"><br>
                                                <p>说出您的意愿，我们会及时与您联系！</p>
                                                <!-- <span id="namec_error" class="error" >请填写姓名</span><br>
                                                <span id="email_error" class="error" >请填写合法的email地址</span><br>
                                                <span id="msg_error" class="error" >请填写信息！</span> -->
                                                
                                            </div>
                                            <div class="right">
                                                您想说的话：
                                                <textarea class="text-input" cols="70" rows="13" name="msg" style="border: 1px solid black;"></textarea>
                                                <br class="clear">
                                                <input id="contactus" value="联系我们" type="submit">
                                            </div>
                                        </fieldset>
                                    </from>
                                </div>
                            </section>
                        </div>
                    </section>
                    <aside class="two-columns">
                        <idv class="sidebar">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">我们的地址</h2>
                                    <div class="textarea">
                                        <p>高新西区百叶路一号
                                        <br>
                                        电子科技大学成都学院
                                        </p>
                                        <p>电话：+86 88751566</p>
                                        <a href="http://www.cduestc.cn/">http://cduestc.cn/</a>
                                    </div>
                               
                                </li>
                            </ul>
                        </idv>
                    </aside>
                </div>
            </div>
        </div>

        <footer id="footBox">
                <div id="footFont">
                    <p>Copyright @社区共享资源管理系统 <a href="http://www.baidu.com" target="_Blank">baidu</a> -Collect from <a href="http://www.cduestc.cn" target="_Blank">cduestc</a></p>
                </div>
        </footer> 
        </div>
	</body>
</html>