<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<link href="../../../../public/stylesheets/mui.min.css" rel="stylesheet" />
	</head>
	<body>
	<div class="mui-content">
				<div class="mui-content-padded mui-center">
				<h4 style="text-align: center;"> 关于我们</h4>
				</div>
		</div>
		<div style="width: 1px;height:80px"></div>
	</body>
</html>
