<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../../../../public/javascripts/pingpp.js"></script>
	</head>
	<body>
		支付请求中，请稍候...
		<div style="width: 1px;height:80px"></div>
		<input type="hidden" id="charge" value="${chargeStr}" >
		<script>
				
			var charge = document.getElementById("charge").value;
			
			pingpp.createPayment(charge, function(result, err){
			  if (result == "success") {
			    // 只有微信公众账号 wx_pub 支付成功的结果会在这里返回，其他的支付结果都会跳转到 extra 中对应的 URL。
			  } else if (result == "fail") {
			    // charge 不正确或者微信公众账号支付失败时会在此处返回
			  } else if (result == "cancel") {
			    // 微信公众账号支付取消支付
			  }
				});
		</script>
	</body>
</html>
