<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<link href="../../../../public/stylesheets/mui.min.css" rel="stylesheet" />
	</head>
	<body>
	<div class="mui-content">
				<div class="mui-content-padded mui-center">
					<h4>
						1，为什么会出现通话闪退的情况？
					</h4>
					<h5>
						答：通话受网络及安卓机型较多的影响，部分机型会出现通话闪退的问题， 遇到问题请及时反馈，我们会尽快适配您的机型，谢谢。 
					</h5>
					<h4>
						2，为什么语音条发布了没有显示？ 
					</h4>
					<h5>
						答：话音条后台需要审核，违反国家法律的一律不请允许通过。 
					</h5>
					<h4>
						3，为什么我的头像会显示成系统默认头像？
					</h4>
					<h5>
						答：系统检测到你的头像过于裸露后，会修改为系统默认头像，请勿涉黄，谢谢合作。  
					</h5>
					<h4>
						4，为什么我会收到平台警告通知？
					</h4>
					<h5>
						答：视频过程不露脸，故意黑屏，恶意挂断，辱骂用户行为将收到警告通知，多次不改，封号处理。 
					</h5>
					<h4>
						5，为什么我的账号无法登录，提示被封号？
					</h4>
					<h5>
						答：用户行为涉及色情、欺诈行为，引导到第三方平台（如QQ微信等），一经发现，立即封号。
					</h5>
				</div>
		</div>
		<div style="width: 1px;height:80px"></div>
	</body>
</html>