<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<link href="../../../../public/stylesheets/mui.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="mui-content">
				<h4>
					通话奖励规则
				</h4>
				<h5>
					1、所有女主播通话默认按50%提成 
				</h5>
				<h5>
					2、通话时长累计奖励规则如下： 
				</h5>
				<h5>
					（1）今日累计通话时长>=10分钟，奖励本次通话收入的10% 
				</h5>
				<h5>
					（2）今日累计通话时长>=30分钟，奖励本次通话收入的20% 
				</h5>
				<h5>
					（3）今日累计通话时长>=1小时，奖励本次通话收入的30% 
				</h5>
				<h5>
					（4）今日累计通话时长>=2小时，奖励本次通话收入的40%
				</h5>
		</div>
		<div style="width: 1px;height:80px"></div>
	</body>
</html>
