<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../../public/stylesheets/mui.min.css" rel="stylesheet">
		<title></title>
	</head>
	<body style="background-color: #FFFFFF;">
		<div>
			#{if "huawei" == phone}
				<img src="//cdn.lianmaiba.com/mobileFolder/huawei.jpg" width="100%" />
			#{/if}
			#{if "vivo" == phone}
				<img src="//cdn.lianmaiba.com/mobileFolder/vivo.jpg" width="100%" />
			#{/if}
			#{if "xiaomi" == phone}
				<img src="//cdn.lianmaiba.com/mobileFolder/xiaomi.jpg" width="100%" />
			#{/if}
			#{if "meizu" == phone}
				<img src="//cdn.lianmaiba.com/mobileFolder/meizu.jpg" width="100%" />
			#{/if}
			#{if "oppo" == phone}
				<img src="//cdn.lianmaiba.com/mobileFolder/oppo.jpg" width="100%" />
			#{/if}
		</div>
	</body>
</html>
