<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title></title>
		<link href="../../../../public/stylesheets/mui.min.css" rel="stylesheet" />
	</head>
	<body>
	<div class="mui-content">
				<div class="mui-content-padded mui-center">
				<h4 >提现说明：</h4>
				<h5 >1）预计提现到账时间为1-7个工作日，节假日顺延</h5>
				</div>
		</div>
		<div style="width: 1px;height:80px"></div>
	</body>
</html>
